//////////////////////////////////////////////////

// Type & Grid Globals
	
	// minor-second: 	16/15;
	// major-second: 	9/8;
	// minor-third: 	6/5;
	// major-third: 	5/4;
	// perfect-fourth:	4/3;
	// aug-fourth: 		1.1414;
	// perfect-fifth: 	3/2;
	// golden: 			1.618;
	// major-sixth: 	5/3;
	// major-seventh: 	15/8;
	// octave: 			2;
	// major-tenth: 	5/2;
	// major-tenth: 	8/3;
	// major-twelfth:	3;
	// double-octave: 	4;

//////////////////////////////////////////////////


$font-ratio: 4/3;
$baseline-ratio: 1.618;

$font-size: 16;
$base-font-size: $font-size/16;
$base-line-height: $base-font-size * $baseline-ratio;


//////////////////////////////////////////////////

// CSS Output Configurations

//////////////////////////////////////////////////

$configuration: (
	'app': (
		'buttons': true,
		'colors': true,
		'depths': true,
		'fonts': true,
		'layers': true,
		'sizes': true,
		'spaces': true,
		'transitions': true,
	),
	'tags': (
		'data': true,
		'input': true,
		'lists': true,
		'media': true,
		'reset': true,
		'sectioning': true,
		'tables': true,
		'typography': true,
	),
	'components': (
		'buttons': true,
		'fields': true,
		'icons': true,
		'images': true,
		'layout': true,
		'loaders': true,
		'media': true,
		'tooltips': true,
	),
	'modules': (
		'blocks': true,
		'controls': true,
		'forms': true,
		'modal': true,
		'multimedia': true,
		'navigation': true,
		'sliders': true,
		'tabs': true,
	),
	'collections': (
		'clipping': true,
		'dock': true,
		'draft': true,
		'funnel': true,
		'header': true,
		'hero': true,
		'panel': true,
		'sidebar': true,
	),
	'features': (
		'admin': true,
		'blog': true,
		'landing': true,
		'portfolio': true,
		'registeration': true,
		'shop': true,
	),
	'vendor': (
		'prism': true,
	)
);