//////////////////////////////////////////////////

// Colors
	// use: color($name, $index)
	// class: .bg-[*]-[#]
	// class: .font-[*]-[#]

//////////////////////////////////////////////////

$colors: (
	
	// Brand Colors
	primary: shadify(hsla(5, 79%, 63%, 1), 3, 5%),
	secondary: shadify(hsla(192, 37%, 56%, 1), 3, 5%),
	tertiary : shadify(hsla(87, 56%, 63%, 1), 3, 5%),
	light: (
		hsla(0, 0%, 100%, 1),
		hsla(0, 0%, 95%, 1),
		hsla(0, 0%, 90%, 1),
	),
	neutral: shadify(#3A4544, 3, 5%),
	dark: (
		hsla(0, 0%, 12%, 1),
		hsla(0, 0%, 8%, 1),
		hsla(0, 0%, 5%, 1),
	),
	
	// Special Colors
	disabled: hsla(0, 0%, 0%, .1),
	success: green,
	alert: yellow,
	warning: orange,
	danger: red,

	// Social Media Colors
	bandcamp: #4e9bac,
	facebook: #3b5998,
	flickr: #0063db,
	github: #4183c4,
	googleplus: #dd4b39,
	instagram: #517fa4,
	linkedin: #007bb6,
	pinterest: #cb2027,
	soundcloud: #f60,
	twitter: #00aced,
	vimeo: #aad450,
	youtube: #b00,

	// Code Syntax Highlight Colors
	code: (
		blue: #4E9EF8,
		darkblue: #07a,
		orange: #D88828,
		green: #859E12,
		lightgreen: #690,
		magenta: #905,
		pink: #dd4a68,
		tan: #a67f59,
	)
	// Feature colors
);