$cap-height: .75;

//////////////////////////////////////////////////

// Typography

//////////////////////////////////////////////////

// Fonts
// $font-[*]
$fonts: (
	body: (
		font-family: 'Open Sans',
		cap-height: 0.75,
		fallback: sans-serif,
	),
	heading: (
		font-family: 'Open Sans Condensed',
		cap-height: 0.75,
		fallback: sans-serif,
	),
	code: (
		font-family: Courier,
		cap-height: 0.75,
		fallback: sans-serif,
	),
	quotations: (
		font-family: 'Open Sans Condensed',
		cap-height: 0.75,
		fallback: serif,
	)
);

// Headings
// .[*]
$typography: (
	'h1': (
		font-base: font(heading),
		font-size: 5,
		line-height: 1.5,
	),
	'h2': (
		font-base: font(heading),
		font-size: 4,
		line-height: 1.2,
	),
	'h3': (
		font-base: font(heading),
		font-size: 3,
		line-height: 1.2,
	),
	'h4': (
		font-base: font(body),
		font-size: 1,
		line-height: 1.2,
		caps: true,
		font-weight: bold
	),
	'h5': (
		font-base: font(heading),
		font-size: 1,
	),
	'h6': (
		font-base: font(heading),
		font-size: 1,
		line-height: 1.5,
	),
	'body': (
		font-base: font(body),
		font-size: 1
	),
	'p': (
		font-base: font(body),
		font-size: 1,
	),
	'jumbo': (
		font-base: font(heading),
		font-size: 6,
		line-height: 1.2,
	),
	'leader': (
		font-base: font(body),
		font-size: 3,
		line-height: 1.2
	),
	'caption': (
		font-base: font(body),
		font-size: 2,
		line-height: 1.5
	),
	'title': (
		font-base: font(body),
		font-size: 2.5,
		line-height: 1,
		font-weight: bold,
		caps: true
	),
	'subtitle': (
		font-base: font(body),
		font-size: 2,
		line-height: 1
	),
	'copyright': (
		font-base: font(body),
		font-size: 0,
		line-height: 1.5
	),
	'micro': (
		font-base: font(body),
		font-size: 0,
		line-height: 1,
		caps : true
	),
	'code': (
		font-base: font(code),
		margin-bottom: 0,
		font-weight: 200
	),
	'small': (
		font-base: font(body),
		font-size: .5,
		line-height: .5,
	)
);