//////////////////////////////////////////////////

// Map Helpers

//////////////////////////////////////////////////

// Compute the depth of a map
	// This is a recursive function, looping over each key/value pair from the map until it finds a map,
	// in which case it calls itself and so on. Then, it returns a number: the map’s depth.

/* @function depth($map) {
  $level: 1;

  @each $key, $value in $map {
    @if type-of($value) == "map" {
      $level: max(depth($value) + 1, $level);
    }
  }

  @return $level;
}
*/

// Easily fetch a value from a deeply nested map

@function map-deep-get($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}

@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}