@function shadify($base, $count, $change) {
	$shades: (1 : $base);
	@for $i from 1 through $count {
		$shades : map-merge($shades, ($i+1 : darken($base, $change * $i)));
	}
	@for $i from 1 through $count {
		$shades : map-merge($shades, ("light-#{$i}" : lighten($base, $change * $i)));
	}
	@return $shades
}
