// Ordered List
ol,
ul {
	list-style-type: none;
	list-style-position: inside;
}

ol {
	
}

// Unordered List
ul {

}

// List Item
li {
	display: block;
}

// Description List
dl {
	
}

dt, dd {

}

// Description Term
dt {

}

// Description Definition
dd {

}