iframe {
	width: 100%;
	height: 100%;
}

video {
	
}

audio {
	
}

img {
	max-width: 100%;
}

svg {
	g,
	path,
	circle,
	stroke {
		fill: inherit;
		stroke: inherit;
		// stroke: currentColor;
		stroke-width: inherit; // A number without a unit is rendered as percentage
		stroke-linecap: inherit;
		stroke-capoffset: inherit;
		stroke-dasharray: inherit;
		stroke-dashoffset: inherit;
		vector-effect: non-scaling-stroke;
	}
}

figure {
	width: 100%;
	overflow: hidden;
	img {
		width: 100%;
	}
}

figcaption {
	@include border-style($color: color(neutral, 1), $size: line(m), $position: top);
	color: color(neutral, 1);
}