/* ======================================
	
	1.0 Colors

========================================*/

$color-primary-1: rgb(235, 96, 84);	
$color-primary-2: rgb(210, 86, 80);	
$color-primary-3: rgb(210, 86, 80);	

$color-secondary-1: rgb(101, 168, 184);	
$color-secondary-2: rgb(101, 168, 184);	
$color-secondary-3: rgb(101, 168, 184);		

$color-tertiary-1: rgb(166, 214, 109);				 
$color-tertiary-2: rgb(166, 214, 109);	
$color-tertiary-3: rgb(166, 214, 109);	

$color-neutral-1: rgb(125, 125, 125);
$color-neutral-2: rgb(105, 105, 105);
$color-neutral-3: rgb(95, 95, 95);

$color-white-1: rgb(255, 255, 255);
$color-white-2: rgb(245, 245, 245);
$color-white-3: rgb(235, 235, 235);

$color-black-1: rgb(50, 50, 50);
$color-black-2: rgb(20, 20, 20);
$color-black-3: rgb(0, 0, 0);

//diverse color variables
$color-success: #62c462;
$color-warning: yellow;
$color-danger:  red;

/* ======================================
	
	2.0 Fonts

========================================*/

$font-body: 		Open Sans, arial, sans-serif;
$font-heading: 		Open Sans Condensed, arial, sans-serif;
$font-heading-alt: 	Open Sans Condensed, arial, sans-serif;

$font-code:			Menlo, Monaco, Consolas, "Courier New", monospace;

/* ======================================
	
	3.0 Sizing

========================================*/

$line-xs: 	1px;
$line-s: 	2px;
$line-m: 	baseline(2/10);
$line-l: 	baseline(3/10);
$line-xl: 	baseline(3/10);

$size-xs: 	baseline(1/2);
$size-s: 	baseline(3/4);
$size-m: 	baseline(1.5);
$size-l: 	baseline(3);
$size-xl: 	baseline(6);

$size-empty: 0;
$size-1-12: 8.33%;
$size-1-8: 12.5%;
$size-1-6: 16.66%;
$size-1-4: 25%;
$size-1-3: 33.33%;
$size-1-2: 50%;
$size-2-3: 66.66%;
$size-3-4: 75%;
$size-full: 100%;

$site-width: 1124px;
/* ======================================
	
	4.0 Styling

========================================*/

$depth-xs: 		0 5px $size-xs rgba(0, 0, 0, 0.10);
$depth-s: 		0 5px $size-s rgba(0, 0, 0, 0.10);
$depth-m: 		0 5px $size-m rgba(0, 0, 0, 0.10);
$depth-l: 		0 5px $size-l rgba(0, 0, 0, 0.15);
$depth-xl: 		0 5px $size-xl rgba(0, 0, 0, 0.20);

/* ======================================
	
	5.0 Transitions

========================================*/

$transition-1: all 0.3s ease;
$transition-2: all 0.2s ease-in-out-circ();
$transition-3: all 0.2s ease-in-out-circ();