/* ======================================
	
	1.0 Type & Grid Globals

	minor-second: 	16/15;
	major-second: 	9/8;
	minor-third: 	6/5;
	major-third: 	5/4;
	perfect-fourth: 4/3;
	aug-fourth: 	1.1414;
	perfect-fifth: 	3/2;
	golden: 		1.618;
	major-sixth: 	5/3;
	major-seventh: 	15/8;
	octave: 		2;
	major-tenth: 	5/2;
	major-tenth: 	8/3;
	major-twelfth:	3;
	double-octave: 	4;

========================================*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="text"],
input[type="email"],
input[type="password"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  padding: 0; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

/* ======================================
	
	1.0 Colors

========================================*/
/* ======================================
	
	2.0 Fonts

========================================*/
/* ======================================
	
	3.0 Sizing

========================================*/
/* ======================================
	
	4.0 Styling

========================================*/
/* ======================================
	
	5.0 Transitions

========================================*/
.dark-section-3 {
  background-color: #050505;
  color: #ebebeb;
  background-attachment: fixed;
  background-size: cover; }
  .dark-section-3 * {
    color: #ebebeb; }

.dark-section-2 {
  background-color: #141414;
  color: #ebebeb;
  background-attachment: fixed;
  background-size: cover; }
  .dark-section-2 * {
    color: #ebebeb; }

.register-section {
  padding: 3rem; }
  .register-section .container, .register-section .container-row {
    max-width: 980px; }
  .register-section .section-header {
    margin-bottom: 3rem; }
  .register-section button {
    width: 15rem;
    display: block;
    margin: 3rem auto; }

.faq-item {
  padding: 4.5rem 0;
  border-bottom: 2px solid #eb6054; }

.btn-callout {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #65a8b8;
  color: white; }
  .btn-callout * {
    color: white; }
  .btn-callout img {
    max-height: 1.33333rem;
    vertical-align: middle; }

.btn-callout-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #eb6054;
  color: white;
  min-width: 9rem; }
  .btn-callout-alt * {
    color: white; }
  .btn-callout-alt img {
    max-height: 1.33333rem;
    vertical-align: middle; }

.btn-action {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  background-color: #eb6054;
  color: white; }
  .btn-action * {
    color: white; }
  .btn-action img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-action-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  background-color: whitesmoke;
  color: #232323; }
  .btn-action-alt * {
    color: #232323; }
  .btn-action-alt img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-small {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  background-color: #eb6054;
  color: white; }
  .btn-small * {
    color: white; }
  .btn-small img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-small-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  background-color: whitesmoke;
  color: #232323; }
  .btn-small-alt * {
    color: #232323; }
  .btn-small-alt img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 3rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  text-transform: uppercase;
  border: solid 2px #a6d66d;
  line-height: calc(3rem - 4px); }
  .btn-icon img {
    max-height: 60%;
    vertical-align: middle; }
  .btn-icon .icon {
    margin-left: -1.5rem;
    margin-right: 1.5rem;
    height: calc(3rem - 4px);
    width: 3rem;
    vertical-align: middle;
    background: #a6d66d;
    float: left; }
    .btn-icon .icon img {
      vertical-align: middle; }

.btn-icon-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #65a8b8;
  color: white;
  color: white;
  border-radius: 0.75rem; }
  .btn-icon-alt * {
    color: white; }
  .btn-icon-alt img {
    max-height: 1.33333rem;
    vertical-align: middle; }
  .btn-icon-alt * {
    color: white; }

.btn-circle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #65a8b8;
  color: white;
  background-color: #65a8b8;
  color: white;
  border-radius: 100%; }
  .btn-circle * {
    color: white; }
  .btn-circle img {
    max-height: 1.33333rem;
    vertical-align: middle; }
  .btn-circle * {
    color: white; }

.btn-circle-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #65a8b8;
  color: white;
  border-radius: 100%;
  border: solid 0.3rem #eb6054; }
  .btn-circle-alt * {
    color: white; }
  .btn-circle-alt img {
    max-height: 1.33333rem;
    vertical-align: middle; }

.btn-circle-s {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  line-height: 1.5rem;
  line-height: 2.25rem;
  background-color: #eb6054;
  color: white;
  border-radius: 100%; }
  .btn-circle-s * {
    color: white; }
  .btn-circle-s img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-circle-s-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  line-height: 1.5rem;
  line-height: 2.25rem;
  background-color: #a6d66d;
  color: white;
  border-radius: 100%; }
  .btn-circle-s-alt * {
    color: white; }
  .btn-circle-s-alt img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-circle-xs {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 1.125rem;
  width: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  line-height: 1.5rem;
  line-height: 1.125rem;
  background-color: #eb6054;
  color: white;
  border-radius: 100%; }
  .btn-circle-xs * {
    color: white; }
  .btn-circle-xs img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-circle-xs-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 1.125rem;
  width: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.75rem;
  line-height: 1.5rem;
  line-height: 1.125rem;
  background-color: #a6d66d;
  color: white;
  border-radius: 100%; }
  .btn-circle-xs-alt * {
    color: white; }
  .btn-circle-xs-alt img {
    max-height: 0.75rem;
    vertical-align: middle; }

.btn-dot {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 2.25rem;
  width: 2.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 2.25rem;
  background-color: #eb6054;
  color: white;
  border-radius: 100%;
  margin: 0 auto;
  transform: rotate(90deg);
  transition: all .35s ease;
  border: none;
  text-decoration: none;
  z-index: 90000; }
  .btn-dot * {
    color: white; }
  .btn-dot img {
    max-height: 60%;
    vertical-align: middle; }
  .btn-dot span {
    background: white;
    border: none;
    height: 10%;
    width: 10%;
    border-radius: 0.75rem;
    position: absolute;
    top: 25%;
    left: 45%;
    transition: all .35s ease;
    cursor: pointer; }
    .btn-dot span:nth-of-type(2) {
      top: 45%; }
    .btn-dot span:nth-of-type(3) {
      top: 65%; }
  .is-active .btn-dot {
    transform: rotate(0); }
  .is-active .btn-dot span {
    background: white;
    border: none;
    height: 6%;
    width: 60%;
    position: absolute;
    left: 20%; }
  .is-active .btn-dot span:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg); }
  .is-active .btn-dot span:nth-of-type(2) {
    opacity: 0; }
  .is-active .btn-dot span:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg); }

.btn-dot-alt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 4.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  background-color: #65a8b8;
  color: white;
  border-radius: 100%;
  border: solid 2px #eb6054; }
  .btn-dot-alt * {
    color: white; }
  .btn-dot-alt img {
    max-height: 1.33333rem;
    vertical-align: middle; }

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1rem;
  line-height: 2.25rem; }

.warning-icon {
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 2.25rem; }
  .warning-icon img {
    display: block;
    max-width: 100%;
    vertical-align: middle; }
  .warning-icon.caution {
    border-color: #eddb00; }
  .warning-icon.danger {
    border-color: #eb6054; }

.stickied {
  position: fixed; }

.grid-filler {
  background-color: rgba(0, 0, 0, 0.25);
  color: white; }
  .grid-filler * {
    color: white; }

.easy-read {
  max-width: 700px; }

.container, .container-row {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 1.125rem; }

.content-section {
  max-width: 750px;
  margin: 0 auto;
  padding: 1.5rem; }

.container-row {
  display: flex; }
  @media (max-width: 767px) {
    .container-row {
      flex-wrap: wrap; } }

.row {
  display: flex;
  overflow: hidden; }
  .row [class*='col'] {
    margin-right: 1.125rem; }
    .row [class*='col']:last-of-type {
      margin-right: 0; }
    .row [class*='col'] > [class*='col']:last-of-type {
      margin-bottom: 0; }
    .row [class*='col'] > .row {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    .row {
      flex-wrap: wrap; } }

.col {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  flex: 1; }
  @media (max-width: 767px) {
    .col {
      width: 100%; } }
  @media (max-width: 767px) {
    .col {
      flex: none; } }

.col-3-4 {
  display: block;
  width: 75%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-3-4 {
      width: 100%; } }

.col-2-3 {
  display: block;
  width: 66.66%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-2-3 {
      width: 100%; } }

.col-1-2 {
  display: block;
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-2 {
      width: 100%; } }

.col-1-3 {
  display: block;
  width: 33.33%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-3 {
      width: 100%; } }

.col-1-4 {
  display: block;
  width: 25%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-4 {
      width: 100%; } }

.col-1-6 {
  display: block;
  width: 16.66%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-6 {
      width: 100%; } }

.col-1-6 {
  display: block;
  width: 16.66%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-6 {
      width: 100%; } }

.col-2-6 {
  display: block;
  width: 33.33333%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-2-6 {
      width: 100%; } }

.col-3-6 {
  display: block;
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-3-6 {
      width: 100%; } }

.col-4-6 {
  display: block;
  width: 66.66667%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-4-6 {
      width: 100%; } }

.col-5-6 {
  display: block;
  width: 83.33333%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-5-6 {
      width: 100%; } }

.col-1-8 {
  display: block;
  width: 12.5%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-8 {
      width: 100%; } }

.col-1-12 {
  display: block;
  width: 8.33%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .col-1-12 {
      width: 100%; } }

.center-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.center-column {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.full-height {
  min-height: calc(100vh - 4.5rem); }

.center-block {
  padding: 1.125rem;
  text-align: center; }

.spacer-1 {
  padding: 2.25rem; }

.spacer-block {
  margin: 2.25rem 0; }

.section-spacing-1 {
  min-height: 75vh;
  padding: 2.25rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section-spacing-full {
  min-height: calc(100vh - 4.5rem);
  padding: 2.25rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

li {
  border-bottom: solid 1px #ebebeb; }

/* ========================================

	Tooltip

======================================== */
.tooltip-top {
  position: relative; }
  .tooltip-top span {
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
    padding: 0 0.75rem;
    position: absolute;
    top: 0; }
    .tooltip-top span::after {
      content: ' ';
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg); }
  .tooltip-top:hover span {
    visibility: visible; }
  .tooltip-top span {
    background-color: #050505;
    color: white;
    border-radius: 0.75rem;
    padding: 1.125rem; }
    .tooltip-top span * {
      color: white; }

.tooltip-right {
  position: relative; }
  .tooltip-right span {
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
    padding: 0 0.75rem;
    position: absolute;
    right: 0; }
    .tooltip-right span::after {
      content: ' ';
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg); }
  .tooltip-right:hover span {
    visibility: visible; }
  .tooltip-right span {
    background-color: #050505;
    color: white;
    border-radius: 0.75rem;
    padding: 1.125rem; }
    .tooltip-right span * {
      color: white; }

.tooltip-bottom {
  position: relative; }
  .tooltip-bottom span {
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
    padding: 0 0.75rem;
    position: absolute;
    bottom: 0; }
    .tooltip-bottom span::after {
      content: ' ';
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg); }
  .tooltip-bottom:hover span {
    visibility: visible; }
  .tooltip-bottom span {
    background-color: #050505;
    color: white;
    border-radius: 0.75rem;
    padding: 1.125rem; }
    .tooltip-bottom span * {
      color: white; }

.tooltip-left {
  position: relative; }
  .tooltip-left span {
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
    padding: 0 0.75rem;
    position: absolute;
    left: 0; }
    .tooltip-left span::after {
      content: ' ';
      width: 0.5rem;
      height: 0.5rem;
      transform: rotate(45deg); }
  .tooltip-left:hover span {
    visibility: visible; }
  .tooltip-left span {
    background-color: #050505;
    color: white;
    border-radius: 0.75rem;
    padding: 1.125rem; }
    .tooltip-left span * {
      color: white; }

/* ========================================

Typography

======================================== */
@media (max-width: 767px) {
  html {
    font-size: 14px; } }

body {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

h1 {
  font-family: Open Sans Condensed, arial, sans-serif;
  font-size: 2.37037rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }
  @media (max-width: 767px) {
    h1 {
      font-size: 1.77778rem; } }

h2 {
  font-family: Open Sans Condensed, arial, sans-serif;
  font-size: 1.77778rem;
  line-height: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

h3 {
  font-family: Open Sans Condensed, arial, sans-serif;
  font-size: 1.77778rem;
  line-height: 2.25rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

h4 {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

h5 {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

h6 {
  font-family: Open Sans Condensed, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

p {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }

strong {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  font-weight: 700; }

small {
  font-family: Open Sans, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }

.mega-type {
  font-family: Open Sans Condensed, arial, sans-serif;
  font-size: 3.16049rem;
  line-height: 4.5rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }
  @media (max-width: 767px) {
    .mega-type {
      font-size: 1.77778rem; } }

.leader {
  font-size: 1.33333rem;
  line-height: 2.25rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }

.caption {
  font-family: Open Sans, arial, sans-serif;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  margin-top: 1.125rem;
  margin-bottom: 1.125rem; }

.sub-title {
  font-size: 1.77778rem;
  line-height: 2.25rem;
  margin-top: -1.125rem; }

a {
  color: #eb6054; }

ul.list {
  list-style: circle;
  margin-left: 1.125rem; }
  ul.list li {
    padding: 0 0 1.125rem 0;
    border: none; }

ul.roman-list {
  list-style-type: lower-alpha;
  padding-left: 1em; }
  ul.roman-list ul {
    list-style: lower-roman;
    padding-left: 1em; }
  ul.roman-list li {
    border: none; }

ol.legal-list {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
  border: none; }
  ol.legal-list ol {
    counter-reset: item; }

ol.legal-list li {
  counter-increment: item;
  display: table;
  border: none;
  padding: 1.125rem 0;
  border: none; }
  ol.legal-list li:before {
    content: counters(item, ".") ". ";
    padding: 0 1.125rem 0 0;
    display: table-cell; }
  ol.legal-list li ol > li:before {
    content: counters(item, ".") " "; }

/* ========================================

Color Overrides

======================================== */
.color-primary {
  color: #eb6054; }

/* =======================================

HTML Tags

======================================== */
hr {
  border: none;
  border-bottom: solid 0.3rem #ebebeb;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

pre {
  background-color: #232323;
  color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0;
  hyphens: none;
  tab-size: 4; }
  pre * {
    color: white; }

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem; }

.page-header {
  background-color: whitesmoke;
  padding: 1.125rem; }

.page-header-title {
  max-width: 700px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .page-header-title {
      text-align: center; } }

.callout {
  background-color: whitesmoke;
  padding: 2.25rem; }

.callout-title {
  font-family: Open Sans, arial, sans-serif;
  color: #050505;
  font-weight: bold;
  font-size: 1.77778rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin: 0; }

.callout-caption {
  color: #232323;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  margin-top: 0.75rem; }

.callout-lines {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  .callout-lines > * {
    position: relative;
    display: inline-block; }
    .callout-lines > *::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 100%;
      width: 50vw;
      height: 1px;
      border-top: 2px solid #65a8b8; }
    .callout-lines > *::before {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 100%;
      width: 50vw;
      height: 1px;
      border-top: 2px solid #65a8b8; }

.section-header {
  text-align: center; }

.section-header-title {
  font-size: 2.37037rem;
  line-height: 3.75rem;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .section-header-title {
      font-size: 1.77778rem; } }

.alert-block {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 2.25rem; }
  @media (max-width: 767px) {
    .alert-block {
      text-align: center;
      flex-direction: column; }
      .alert-block .warning-icon {
        margin-left: auto;
        margin-right: auto; } }

.note {
  position: relative;
  outline: solid 1px #ebebeb;
  border-left: solid 0.45rem #eb6054;
  padding: 1.125rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }
  .note :first-child {
    margin-top: 0; }
  .note :last-child {
    margin-bottom: 0; }

.snippet {
  border: solid 1px #ebebeb;
  margin-bottom: 2.25rem;
  position: relative; }
  .snippet .snippet-title {
    padding: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #7d7d7d;
    font-weight: 700; }
  .snippet .example {
    padding: 1.125rem; }
  .snippet hr {
    margin-left: 0.75rem;
    margin-right: 0.75rem; }

.slide-toggle {
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  overflow: hidden; }
  .slide-toggle.is-up {
    visibility: hidden;
    opacity: 0;
    height: 0; }
  .slide-toggle.is-down {
    visibility: visible;
    opacity: 1; }

.set-apart {
  position: relative;
  transition: all 0.3s ease; }
  .set-apart.is-active {
    box-shadow: 0 5px 0.75rem rgba(0, 0, 0, 0.1); }

.blurb-title {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold; }

.blurb-copy {
  margin-top: 0; }

.form-callout {
  display: flex;
  box-shadow: 0 5px 2.25rem rgba(0, 0, 0, 0.1); }
  .form-callout [class*='col'] {
    margin-right: 0; }
    .form-callout [class*='col']:last-of-type {
      margin-right: 0; }
    .form-callout [class*='col'] > [class*='col']:last-of-type {
      margin-bottom: 0; }
    .form-callout [class*='col'] > .row {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    .form-callout {
      flex-wrap: wrap; } }
  .form-callout button {
    width: 100%; }
  @media (max-width: 767px) {
    .form-callout {
      flex-wrap: wrap; } }

.form-callout-fields {
  width: 250%;
  display: flex; }
  @media (max-width: 767px) {
    .form-callout-fields {
      flex-wrap: wrap; } }

.form-callout-field {
  background-color: white;
  position: relative;
  position: relative; }
  .form-callout-field::before, .form-callout-field::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    transition: all 0.2s; }
  .form-callout-field::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%); }
  .form-callout-field > label {
    display: block;
    padding: 0 0.75rem;
    transform-origin: top left;
    line-height: 2.25rem;
    transform: scale(1) translate3d(0, 2.25rem, 0);
    transition: all 0.2s; }
  .form-callout-field label.is-active,
  .form-callout-field.is-filled label,
  .form-callout-field.is-focused label {
    color: #232323;
    transform: scale(0.9) translate3d(0, 0.75rem, 0); }
  .form-callout-field.is-filled::after, .form-callout-field.is-focused::after {
    width: 100%;
    background: #7d7d7d; }
  .form-callout-field.is-filled.is-valid::after, .form-callout-field.is-focused.is-valid::after, .form-callout-field.is-valid::after {
    width: 100%;
    background: #65a8b8; }
  .form-callout-field.is-filled.is-error::after, .form-callout-field.is-focused.is-error::after, .form-callout-field.is-error::after {
    width: 100%;
    background: #eb6054; }
  .form-callout-field .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transform: translateY(-0.75rem);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
  .form-callout-field.is-error .icon,
  .form-callout-field.is-valid .icon {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; }
  .form-callout-field.is-error .icon::after {
    content: '\f05c';
    position: absolute;
    top: 1.5rem;
    right: 0;
    transform: translate3d(-50%, -50%, 0);
    color: #eb6054; }
  .form-callout-field.is-valid .icon::after {
    content: '\f05d';
    position: absolute;
    top: 1.5rem;
    transform: translate3d(-50%, -50%, 0);
    color: #a6d66d; }
  .form-callout-field input[type="text"],
  .form-callout-field input[type="email"],
  .form-callout-field input[type="password"] {
    display: block;
    width: 100%;
    height: 4.5rem;
    padding-left: 1.5rem; }
    .form-callout-field input[type="text"]::focus,
    .form-callout-field input[type="email"]::focus,
    .form-callout-field input[type="password"]::focus {
      outline: none; }
  @media (max-width: 767px) {
    .form-callout-field {
      width: 100%; } }

.form-short {
  text-align: center; }

.form-short-field {
  background-color: whitesmoke;
  position: relative;
  margin-bottom: 1.125rem;
  position: relative;
  width: 100%; }
  .form-short-field::before, .form-short-field::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    transition: all 0.2s; }
  .form-short-field::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%); }
  .form-short-field > label {
    display: block;
    padding: 0 0.75rem;
    transform-origin: top left;
    line-height: 2.25rem;
    transform: scale(1) translate3d(0, 2.25rem, 0);
    transition: all 0.2s; }
  .form-short-field label.is-active,
  .form-short-field.is-filled label,
  .form-short-field.is-focused label {
    color: #232323;
    transform: scale(0.9) translate3d(0, 0.75rem, 0); }
  .form-short-field.is-filled::after, .form-short-field.is-focused::after {
    width: 100%;
    background: #7d7d7d; }
  .form-short-field.is-filled.is-valid::after, .form-short-field.is-focused.is-valid::after, .form-short-field.is-valid::after {
    width: 100%;
    background: #65a8b8; }
  .form-short-field.is-filled.is-error::after, .form-short-field.is-focused.is-error::after, .form-short-field.is-error::after {
    width: 100%;
    background: #eb6054; }
  .form-short-field .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transform: translateY(-0.75rem);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
  .form-short-field.is-error .icon,
  .form-short-field.is-valid .icon {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; }
  .form-short-field.is-error .icon::after {
    content: '\f05c';
    position: absolute;
    top: 1.5rem;
    right: 0;
    transform: translate3d(-50%, -50%, 0);
    color: #eb6054; }
  .form-short-field.is-valid .icon::after {
    content: '\f05d';
    position: absolute;
    top: 1.5rem;
    transform: translate3d(-50%, -50%, 0);
    color: #a6d66d; }
  .form-short-field input[type="text"],
  .form-short-field input[type="email"],
  .form-short-field input[type="password"] {
    display: block;
    text-align: left;
    width: 100%;
    height: 3rem;
    padding-left: 1.5rem; }
    .form-short-field input[type="text"]::focus,
    .form-short-field input[type="email"]::focus,
    .form-short-field input[type="password"]::focus {
      outline: none; }

.form-long-row {
  display: flex; }
  .form-long-row [class*='col'] {
    margin-right: 0; }
    .form-long-row [class*='col']:last-of-type {
      margin-right: 0; }
    .form-long-row [class*='col'] > [class*='col']:last-of-type {
      margin-bottom: 0; }
    .form-long-row [class*='col'] > .row {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    .form-long-row {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .form-long-row {
      flex-wrap: wrap; } }

.form-long-field {
  position: relative;
  width: 100%;
  border-right: 2px solid #ebebeb; }
  .form-long-field::before, .form-long-field::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    transition: all 0.2s; }
  .form-long-field::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%); }
  .form-long-field > label {
    display: block;
    padding: 0 0.75rem;
    transform-origin: top left;
    line-height: 2.25rem;
    transform: scale(1) translate3d(0, 2.25rem, 0);
    transition: all 0.2s; }
  .form-long-field label.is-active,
  .form-long-field.is-filled label,
  .form-long-field.is-focused label {
    color: #232323;
    transform: scale(0.9) translate3d(0, 0.75rem, 0); }
  .form-long-field.is-filled::after, .form-long-field.is-focused::after {
    width: 100%;
    background: #7d7d7d; }
  .form-long-field.is-filled.is-valid::after, .form-long-field.is-focused.is-valid::after, .form-long-field.is-valid::after {
    width: 100%;
    background: #65a8b8; }
  .form-long-field.is-filled.is-error::after, .form-long-field.is-focused.is-error::after, .form-long-field.is-error::after {
    width: 100%;
    background: #eb6054; }
  .form-long-field .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transform: translateY(-0.75rem);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
  .form-long-field.is-error .icon,
  .form-long-field.is-valid .icon {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; }
  .form-long-field.is-error .icon::after {
    content: '\f05c';
    position: absolute;
    top: 1.5rem;
    right: 0;
    transform: translate3d(-50%, -50%, 0);
    color: #eb6054; }
  .form-long-field.is-valid .icon::after {
    content: '\f05d';
    position: absolute;
    top: 1.5rem;
    transform: translate3d(-50%, -50%, 0);
    color: #a6d66d; }
  .form-long-field:last-of-type {
    border-right: none; }
  @media (max-width: 767px) {
    .form-long-field {
      border-right: none; } }
  .form-long-field input[type="text"],
  .form-long-field input[type="email"],
  .form-long-field input[type="password"] {
    display: block;
    text-align: left;
    width: 100%;
    height: 3rem;
    padding: 0 0.75rem; }
    .form-long-field input[type="text"]:focus,
    .form-long-field input[type="email"]:focus,
    .form-long-field input[type="password"]:focus {
      outline: 0; }
  .form-long-field textarea {
    font-family: Open Sans, arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    display: block;
    text-align: left;
    width: 100%;
    height: 7.5rem;
    padding: 0 0.75rem;
    border: none; }
    .form-long-field textarea:focus {
      outline: 0; }
  .form-long-field select {
    font-size: 1rem;
    line-height: 1.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    display: block;
    text-align: left;
    width: 100%;
    height: 3rem;
    padding: 0 0.75rem; }
  .form-long-field .select-arrow {
    background: url(../images/icon-dropdown-select.svg);
    height: 2.25rem;
    width: 2.25rem;
    background-size: cover;
    position: absolute;
    right: 1.125rem;
    bottom: 1.5rem;
    z-index: -1; }
  .form-long-field.multi-select-field select {
    border: #ebebeb solid 2px;
    width: auto;
    height: 2.25rem;
    display: inline-block;
    border-radius: 0;
    padding-right: 1.5rem;
    background: url(../images/icon-select-arrow.svg) no-repeat;
    background-position: right center;
    margin: 0.75rem 0 0.75rem 0.75rem; }
  .form-long-field.dob-field input[type="text"] {
    display: inline-block;
    width: 30%; }
  .form-long-field.dob-field span {
    width: 3%; }

.form-long-optin {
  margin-top: 3rem; }
  .form-long-optin p {
    font-size: 0.75rem;
    line-height: 1.5rem; }

.form-long-heading {
  text-align: center;
  max-width: 600px;
  margin: 3rem auto; }

.form-long-title {
  margin-bottom: 0; }

.search-field {
  position: relative; }
  .search-field::after {
    content: ' ';
    position: absolute;
    left: auto;
    bottom: auto;
    top: 50%;
    right: 0.75rem;
    height: 1.5rem;
    width: 1.5rem;
    background: url(../public/images/icon-search.svg);
    background-size: 100% auto;
    transform: translateY(-50%); }

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 0; }

.accordion > .accordion-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  transform: translateY(-1.5rem); }

> .accordion.is-active .accordion-content {
  opacity: 1;
  transform: translateY(0); }

.global-header-spacer {
  height: 4.5rem; }

.global-header {
  background-color: white;
  box-shadow: 0 5px 2.25rem rgba(0, 0, 0, 0.1);
  z-index: 100;
  justify-content: center;
  line-height: 4.5rem;
  height: 4.5rem;
  padding: 0 1.5rem;
  position: fixed;
  width: 100%; }
  .global-header .logo {
    margin-right: auto;
    margin-left: 0;
    width: 250px; }
    .global-header .logo img {
      vertical-align: middle;
      max-width: 250px;
      width: 100%; }

.global-header-inner {
  display: flex;
  flex: 1;
  -ms-flex: 1;
  width: 100%;
  max-width: 1124px;
  margin: 0 auto; }

.global-nav {
  display: flex;
  margin: 0 auto 0 0; }
  .global-nav ul {
    display: flex;
    justify-content: center; }
  .global-nav li {
    border: none; }
    .global-nav li a {
      color: #232323;
      text-transform: uppercase;
      display: block;
      position: relative;
      padding: 0 1.5rem; }
    .global-nav li.is-active a {
      font-weight: bold; }
      .global-nav li.is-active a::before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 0.45rem;
        width: 100%;
        background: #eb6054; }
  @media (max-width: 1023px) {
    .global-nav {
      display: none; } }

.global-actions [class*="btn"] {
  min-width: 9rem; }
  @media (max-width: 1023px) {
    .global-actions [class*="btn"] {
      display: none; } }

.global-mobile-actions {
  display: none; }
  @media (max-width: 1023px) {
    .global-mobile-actions {
      display: block; } }

.nav-overlay {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  z-index: 998;
  background: #eb6054;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  opacity: 0;
  visibility: hidden;
  transition: all .35s ease;
  overflow: hidden; }
  .nav-overlay ul {
    width: 100%;
    text-align: center;
    padding: 0 3rem; }
  .nav-overlay li {
    display: block;
    padding: 0 1.5rem;
    line-height: 2.25rem; }
  .nav-overlay a {
    color: white; }
  .nav-overlay .mega-nav li {
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none; }
  .nav-overlay .mega-nav a:hover:after, .nav-overlay .mega-nav a:focus:after, .nav-overlay .mega-nav a:active:after {
    width: 50%; }
  .nav-overlay .mega-nav a:after {
    content: '';
    position: absolute;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: white;
    transition: .35s; }
  .is-active .nav-overlay {
    opacity: .95;
    visibility: visible; }

.global-footer {
  background: #232323;
  position: relative;
  z-index: 10; }

.global-footer-nav {
  background: #050505;
  line-height: 4.5rem; }
  .global-footer-nav ul {
    text-align: center; }
  .global-footer-nav li {
    display: inline-block;
    border: none; }
    .global-footer-nav li a {
      color: white;
      display: block;
      position: relative;
      padding: 0 1.5rem; }
    .global-footer-nav li.is-active a {
      font-weight: bold; }
      .global-footer-nav li.is-active a::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.45rem;
        width: 100%;
        background: #eb6054; }

.global-footer-disclaimer {
  padding: 4.5rem 0;
  color: white;
  text-align: center; }

.modal-panel {
  position: fixed;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  box-shadow: 0 5px 4.5rem rgba(0, 0, 0, 0.15);
  max-width: 90vw;
  transform: translateY(3rem);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  z-index: 100000; }
  .modal-panel .inner-modal {
    padding: 1.5rem; }
  @media (max-width: 1023px) {
    .modal-panel {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      overflow-x: auto;
      margin: 0 !important; } }
  .modal-panel .content {
    position: relative;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto; }
  .modal-panel .close-panel.btn-circle-s {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 2;
    margin: 0; }
    @media (min-width: 1024px) {
      .modal-panel .close-panel.btn-circle-s {
        top: -1rem;
        right: -1rem; } }
  .modal-panel.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); }
  .modal-panel.close {
    opacity: 0;
    visibility: hidden; }

.modal-title {
  margin-top: 0; }

.notify-em {
  background-color: #232323;
  color: white;
  box-shadow: 0 5px 2.25rem rgba(0, 0, 0, 0.1);
  position: fixed;
  padding: 1.5rem;
  top: 50%;
  left: 50%;
  text-align: center;
  z-index: 900000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transform: translateY(3rem);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease; }
  .notify-em * {
    color: white; }
  .notify-em.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem); }
  .notify-em.close {
    visibility: hidden;
    opacity: 0; }
  .notify-em .action-buttons {
    text-align: center; }
  .notify-em p {
    padding: 1.5rem;
    margin: 0; }
  .notify-em .btn-1 {
    background: rgba(0, 0, 0, 0.5);
    width: 7.5rem;
    margin: 0 0.75rem; }
  .notify-em .btn-2 {
    border-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 7.5rem;
    margin: 0 0.75rem; }
  .notify-em .title {
    border-radius: 0.75rem 0.75rem 0 0;
    line-height: 2.25rem;
    margin: -1.5rem -1.5rem 0.75rem -1.5rem;
    background: rgba(5, 5, 5, 0.5); }
  .notify-em input {
    color: #050505;
    line-height: 2.25rem;
    margin-right: 0.75rem; }
  .notify-em button {
    color: white;
    margin: 0; }

.sidebar {
  background-color: #050505;
  color: white;
  overflow: hidden;
  min-height: calc(100vh - 2.25rem); }
  .sidebar .sidebar-content {
    padding: 1.5rem;
    max-height: calc(100vh - 2.25rem);
    overflow-y: auto; }
    .sidebar .sidebar-content.stickied {
      top: 0;
      position: fixed; }
  .sidebar input[type="text"],
  .sidebar input[type="email"],
  .sidebar input[type="password"],
  .sidebar input[type="search"] {
    color: #050505; }

.hero-header {
  position: relative;
  overflow: hidden; }
  .hero-header .form-callout {
    position: relative;
    z-index: 2; }

.hero-header-copy {
  display: block;
  width: 58.33%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 7.5rem 0;
  margin: 0; }
  @media (max-width: 767px) {
    .hero-header-copy {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .hero-header-copy {
      padding: 4.5rem; } }
  @media (max-width: 767px) {
    .hero-header-copy {
      width: auto;
      padding: 1.5rem 1.5rem 0 1.5rem; } }

.hero-header-title {
  color: #eb6054;
  font-size: 4.21399rem;
  line-height: 4.5rem; }
  @media (max-width: 767px) {
    .hero-header-title {
      font-size: 1.77778rem; } }

.hero-header-caption {
  font-size: 1.33333rem;
  line-height: 2.25rem;
  line-height: 1.33333; }

.hero-header-media {
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 50%;
  z-index: 1; }
  .hero-header-media img {
    width: 100%;
    min-width: 850px;
    max-width: 950px;
    display: block; }
  @media (max-width: 767px) {
    .hero-header-media {
      position: relative;
      width: 100%;
      left: auto;
      bottom: auto;
      z-index: -1; }
      .hero-header-media img {
        width: 100%;
        min-width: 0;
        max-width: none; } }

.text-media {
  width: 100%;
  display: flex;
  overflow: hidden; }

.text-media-media {
  background-size: cover;
  background-position: center center; }
  @media (max-width: 767px) {
    .text-media-media {
      order: -1; } }
  .text-media-media img {
    width: 100%;
    height: auto;
    display: block; }

.text-media-copy {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem; }

.text-media-title {
  margin: 0;
  font-weight: normal; }

.text-media-btn {
  margin-top: 0.75rem; }

.blog-sidebar {
  padding: 2.25rem; }

.category-list a {
  color: white; }

.category-list li {
  border-color: #232323;
  padding: 1.125rem 0; }

.article-item {
  margin-bottom: 1.5rem; }
  .article-item::after {
    content: ' ';
    display: block;
    clear: both;
    width: 100%;
    height: 1px; }

.article-thumb {
  width: 25%;
  float: left;
  margin-right: 0.75rem; }
  .article-thumb img {
    max-width: 100%;
    display: block; }

.article-title {
  margin-bottom: 0; }

.article-date {
  color: #9f9f9f;
  font-size: 0.75rem;
  line-height: 1.5rem;
  padding-top: 0;
  margin-top: 0; }

.post-photo {
  display: block;
  text-align: center; }

.post-title {
  font-family: Open Sans, arial, sans-serif;
  font-size: 3.16049rem;
  line-height: 4.5rem;
  margin-bottom: 1.5rem; }
  @media (max-width: 767px) {
    .post-title {
      font-size: 1.77778rem; } }

.post-meta {
  margin-bottom: 3rem; }

.category-header {
  background-color: whitesmoke;
  padding: 1.125rem;
  margin-bottom: 2.25rem; }

.category-header-title {
  max-width: 700px;
  margin: 0 auto;
  text-align: center; }
  @media (max-width: 767px) {
    .category-header-title {
      text-align: center; } }

.blog-roll {
  margin: 4.5rem 0; }
  @media (min-width: 768px) {
    .blog-roll .blog-post:nth-child(even) {
      background: whitesmoke; }
      .blog-roll .blog-post:nth-child(even) .text-media-copy {
        order: -1; } }

.admin-page-header {
  position: fixed;
  background-color: whitesmoke;
  line-height: 4.5rem;
  width: 83.33333%; }

.admin-page-header-title {
  font-family: Open Sans, arial, sans-serif;
  font-weight: normal;
  font-size: 1.33333rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  margin: 0;
  margin-left: 1.125rem; }
  @media (max-width: 767px) {
    .admin-page-header-title {
      text-align: center; } }

.admin-page-header-arrow {
  float: left;
  padding: 0.75rem;
  width: 2.25rem;
  height: 4.5rem;
  line-height: calc(4.5rem - 0.75rem * 2);
  color: #5f5f5f;
  background: #ebebeb; }
  .admin-page-header-arrow img {
    vertical-align: middle; }

.admin-sidebar {
  background-color: #3A4544;
  position: fixed;
  height: 100vh;
  color: white;
  overflow: hidden;
  min-height: calc(100vh - 2.25rem);
  width: 18rem; }
  @media (max-width: 1023px) {
    .admin-sidebar {
      width: 4.5rem; } }

.admin-content {
  width: calc(100vw - 18rem);
  margin-left: auto; }
  @media (max-width: 1023px) {
    .admin-content {
      width: calc(100vw - 4.5rem); } }

.admin-header {
  background-color: #0B0F0F; }
  .admin-header .logo {
    height: 4.5rem;
    padding: 1.125rem; }
    .admin-header .logo img {
      max-width: 100%; }

.admin-nav li {
  line-height: 4.5rem;
  border-bottom: none;
  border-left: 0 solid #eb6054;
  transition: all 0.3s ease; }

.admin-nav li:hover,
.admin-nav li.is-active {
  border-left: 0.45rem solid #52C5D8;
  background: #1F2C2B; }
  .admin-nav li:hover .svg-color-2,
  .admin-nav li.is-active .svg-color-2 {
    fill: #eb6054; }
  .admin-nav li:hover .svg-color,
  .admin-nav li.is-active .svg-color {
    fill: #52C5D8; }

.admin-nav a {
  padding: 0 2.25rem;
  display: block;
  color: whitesmoke; }

.admin-nav .icon {
  display: inline-block;
  width: 2.25rem;
  margin-right: 1.125rem; }
  .admin-nav .icon svg,
  .admin-nav .icon img {
    max-width: 100%;
    vertical-align: middle; }

.admin-nav .svg-color {
  transition: all 0.3s ease;
  fill: whitesmoke; }

.admin-nav .svg-color-2 {
  transition: all 0.3s ease;
  fill: whitesmoke; }

@media (max-width: 1023px) {
  .admin-nav .title {
    display: none; }
  .admin-nav a {
    text-align: center;
    padding: 0; }
  .admin-nav .icon {
    width: 1.125rem;
    margin-right: 0;
    text-align: center; } }

.admin-account-details {
  width: 100%;
  margin-bottom: 4.5rem; }
  .admin-account-details .row {
    padding: 1.125rem;
    position: relative;
    border-bottom: 2px solid #ebebeb; }
  .admin-account-details .btn-edit {
    position: absolute;
    right: 1.125rem;
    bottom: 50%;
    transform: translateY(50%); }

.admin-edit-actions {
  text-align: right;
  padding: 1.125rem 0; }

.report-table {
  width: 100%;
  box-shadow: 0 5px 2.25rem rgba(0, 0, 0, 0.1); }
  .report-table thead tr:nth-child(odd) {
    background: #eb6054; }
  .report-table th {
    padding: 1.125rem;
    font-weight: bold;
    text-align: left;
    color: whitesmoke;
    text-transform: uppercase; }
  .report-table tr:nth-child(odd) {
    background: whitesmoke; }
  .report-table td {
    padding: 0.75rem 1.125rem; }
  .report-table td:nth-child(even) {
    background: rgba(0, 0, 0, 0.02); }
  .report-table p {
    margin: 0;
    padding: 0; }
