.warning-icon {
	height: $size-l;
	width: $size-l;
	margin-right: $size-m;
	img {
		display: block;
		max-width: 100%;
		vertical-align: middle;
	}
	
	&.caution {
		border-color: $color-caution;
	}
	
	&.danger {
		border-color: $color-primary-1;
	}
}