.example-icons {
	@include row($gutter: size(m));
}

.icon {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	position: relative;

	> svg {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.icon-circle-dots {
	stroke: color(neutral, 1);
	stroke-width: line(s);
}

.icon-align-right, 
.icon-align-left,
.icon-align-center,
.icon-align-justify,
.icon-bold, 
.icon-italic, 
.icon-strike, 
.icon-link,
.icon-unlink,
.icon-chevron,
.icon-chevron-circle,
.icon-hamburger,
.icon-exit,
.icon-circle,
.icon-bars,
.icon-line
.icon-line-h,
.icon-line-v,
.icon-square {
	stroke: color(neutral, 1);
	stroke-width: line(s);
	fill: none;
}

.icon-dot,
.icon-ordered-list,
.icon-unordered-list {
	stroke: color(neutral, 1);
	stroke-width: line(s);
	fill: color(neutral, 1);
}