@mixin tooltip-base($setPosition) {
	@include tool-tip($setPosition, transition(1));	
	position: relative;

	> span {
		border-bottom: none;
		padding: size(s);
		transition: transition(1);
		z-index: layer(top);
		pointer-events: none;
		white-space: nowrap;
		&:hover{
			border-bottom: none;
		}
	}
}

.tooltip-top{
	@include tooltip-base(top);
}

.tooltip-right {
	@include tooltip-base(right);
}

.tooltip-bottom {
	@include tooltip-base(bottom);
}

.tooltip-left {
	@include tooltip-base(left);
}