.panel {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: size(l);
	position: relative;
}

.slide-out-panel {
	position: absolute;
	top: 0;
}

.panel-content {
	height: 100%;
	width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.panel-nav {

}