.sidebar {
	overflow: hidden;
	min-height: calc(100vh - #{size(m)});
	position: relative;
	
	.sidebar-content {
		padding: size(header) 0 baseline(1) 0;
		max-height: calc(100vh - #{size(m)});
		overflow-y: auto;
					
		&.stickied {
			top: 0;
			position: fixed;
		}
		@include phone {
			max-height: none;
		}
	}
}