.text-media {
	@include row();
	@include phone {
		flex-direction: column;
	}
}

	.text-media-content {
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		
		.inner {
			max-width: calc(#{size(site-width)/2} + #{baseline(2)});
			padding: baseline(2);
		}
	}
	
	.text-media-video,
	.text-media-image {
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		overflow: hidden;
		@include phone {
			order: 0;
		}
	}
	
	.text-media-background {
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
		background-position: center center;
		background-size: cover;
		width: 100%;
	}