//////////////////////////////////////////////////

// Callout Form

//////////////////////////////////////////////////

.form-callout {
	@include row();
	width: 100%;
}

.form-callout-fields {
	display: flex;
}

//////////////////////////////////////////////////

// Short Form

//////////////////////////////////////////////////

.form-short {
	text-align: center;
}

//////////////////////////////////////////////////

// Long Form

//////////////////////////////////////////////////

.form-long {
	//
}

.form-long-row {
	@include row();
	
	@include phone {
		flex-wrap: wrap;
	}
}

.form-long-optin {
	margin-top: baseline(2);
	
	p {
		// 
	}
}

.form-long-heading {
	text-align: center;
	max-width: 600px;
	margin: baseline(2) auto;
}

.form-long-title {
	margin-bottom: 0;
}