@mixin flex-me {
	display: flex;
}

// Center Row
	// Center items inside of a horizontal element

@mixin center-row {
	@include flex-me;
	justify-content: center;
	align-items: center;
}

// Center Column
	// Center items inside of a vertical element

@mixin center-column {
	@include flex-me;
	@include center-row;
	flex-direction: column;
}

// Absolute Position
	// @param : Position (top, top-right, right-top, right, right-bottom, bottom-right, bottom, bottom-left, left-bottom, left, left-top, top-left)

@mixin absolute($position : top-left) {
	position: absolute;
	@if $position == top {
		top: 0;
	} @else if $position == top-right {
		top: 0;
		right: 0;		
	} @else if $position == right {
		right: 0;
	} @else if $position == bottom-right {
		bottom: 0;
		right: 0;
	} @else if $position == bottom {
		bottom: 0;
	} @else if $position == bottom-left {
		bottom: 0;
		left: 0;
	} @else if $position == left {
		left: 0;
	} @else if $position == top-left {
		top: 0;
		left: 0;
	}
}


// Easily fix clear issue with floating elements

@mixin clear-fix {
	&::after {
		content: ' ';
		display: block;
		clear: both;
		width: 100%;
		height: 1px;
	}
	
}