.stickied {
	position: fixed;
}
.grid-filler {
	@include box-style(rgba(0, 0, 0, .25), $color-white-1, null, null);
}

.easy-read {
	max-width: 700px;
}

.container {
	width: 100%;
	max-width: $site-width;
	margin: 0 auto;
	padding: 0 $size-s;
}


.content-section {
	max-width: 750px;
	margin: 0 auto;
	padding: baseline(1);
}

.container-row {
	@extend .container;
	display: flex;
	@include phone {
		flex-wrap: wrap;
	}
}

.row {
	@include row($size-s);
    overflow: hidden;
}

.col {
	@include col($size-full);
	flex: 1;
	
	@include phone {
		flex: none;
	}
}

.col-3-4 {
	@include col($size-3-4);
}

.col-2-3 {
	@include col($size-2-3);
}

.col-1-2 {
	@include col($size-1-2);
}

.col-1-3 {
	@include col($size-1-3);
}

.col-1-4 {
	@include col($size-1-4);
}

.col-1-6 {
	@include col($size-1-6);
}

.col-1-6 {
	@include col($size-1-6);
}

.col-2-6 {
	@include col(2/6 * 100%);
}

.col-3-6 {
	@include col(3/6 * 100%);
}

.col-4-6 {
	@include col(4/6 * 100%);
}

.col-5-6 {
	@include col(5/6 * 100%);
}

.col-1-8 {
	@include col($size-1-8);
}

.col-1-12 {
	@include col($size-1-12);
}

.center-row {
	@include center-row
}

.center-column {
	@include center-column
}

// Sizing

.full-height {
	min-height: calc(100vh - #{$size-l});
}

// Alignment

.center-block {
	padding: $size-s;
	text-align: center;
}

// Spacing

.spacer-1 {
	padding: $size-m;
}

.spacer-block {
	margin: $size-m 0;
}

.section-spacing-1 {
	min-height: 75vh;
	padding: $size-m;
	@include center-column
}

.section-spacing-full {
	min-height: calc(100vh - #{$size-l});
	padding: $size-m;
	@include center-column
}