//////////////////////////////////////////////////

// Colors
	// This loops through the theme defined maps, generates sass color variables as well as background and font color classes.
	
//		.bg-$colorname-$number/variant

//////////////////////////////////////////////////

@each $color, $colorProperties in $colors {	
	@if length($colorProperties) > 1 {
		@for $i from 1 through length($colorProperties) {
			$variant: nth($colorProperties, $i);
			@if length($variant) > 1 {
				// Background Colors
				%bg-#{$color}-#{nth($variant, 1)} {
					background-color: nth($variant, 2);
				}
				.bg-#{$color}-#{nth($variant, 1)} {
					@extend %bg-#{$color}-#{nth($variant, 1)};
				}
			} @else {
				// Background Colors
				%bg-#{$color}-#{$i} {
					background-color: $variant;
				}
				.bg-#{$color}-#{$i} {
					@extend %bg-#{$color}-#{$i};
				}
			}
		}
	} @else {
		// Background Colors
		%bg-#{$color} {
			background-color: $colorProperties;	
		}
		.bg-#{$color} {
			@extend %bg-#{$color};
		}
	}
}
