//////////////////////////////////////////////////

// Colors
	// This loops through the theme defined maps, generates sass color variables as well as background and font color classes.
	
//		.font-$colorname-$number

//////////////////////////////////////////////////

@each $color, $colorProperties in $colors {	
	@if length($colorProperties) > 1 {
		@for $i from 1 through length($colorProperties) {
			$variant: nth($colorProperties, $i);
			// If map property
			@if length($variant) > 1 {
				// Background Colors
				%font-#{$color}-#{nth($variant, 1)} {
					color : nth($variant, 2);
				}
			// It must be a simple list :D
			} @else {
				// Font Colors
				%font-#{$color}-#{$i} {
					color: $variant;	
				}
			}
		}
	} @else {
		// Font Colors
		%font-#{$color} {
			color: $colorProperties;	
		}
	}
}
