.sidebar {
	@include box-style($color-black-3);
	color: $color-white-1;
	overflow: hidden;
	min-height: calc(100vh - #{$size-m});
	
	.sidebar-content {
		padding: baseline(1);
		max-height: calc(100vh - #{$size-m});
		overflow-y: auto;
					
		&.stickied {
			top: 0;
			position: fixed;
		}
		@include phone {
			max-height: none;
		}
	}
	
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="search"] {
		color: $color-black-3;
	}
}