html {
	@include tablet {
		font-size: 14px;
	}
	@include phone {
		font-size: 12px;
	}
}

.ypi .panel {
	@include phone {
		min-height: 50vh;
	}
}

.ypi .row {
	@include phone {
		flex-wrap: wrap;
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Header
// - - - - - - - - - - - - - - - - - - - - -

.ypi .header {
	position: fixed;
}

.ypi .header-primary {
	box-shadow: depth(s);
	@extend %bg-light-1 !optional;
	
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.ypi .header-nav {
	text-transform: uppercase;
}

.ypi .header-options {
	@include phone {
		display: none;
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Hero 
// - - - - - - - - - - - - - - - - - - - - -

.ypi .hero-header {
	position: relative;
	overflow: hidden;
	
	.form-callout {
		position: relative;
		z-index: 2;
	}
}

.ypi .hero-header-copy {
	padding: calc(#{baseline(6)} + #{size(header)}) 0 baseline(5) 0;
	@extend %col-1-2;
	@include tablet {
		padding: calc(#{baseline(3)} + #{size(header)}) size(m) baseline(3) size(m);
		width:70%;
	}
	@include phone {
		padding: calc(#{baseline(3)} + #{size(header)}) size(m) baseline(3) size(m);
	}
	
	h1 {
		@extend %jumbo;
		@extend %font-primary-1;
	}
	p {
		@extend %leader;
	}
}

.ypi .hero-header-media {
	position: absolute;
	bottom: 0;
	width: 50%;
	left: 50%;
	z-index: 1;
	
	img {
		width: 100%;
		min-width: 850px;
		max-width: 950px;
		display: block;
	}
	
	@include phone {
		position: relative;
		width: 100%;
		left: auto;
		bottom: auto;
		z-index: -1;
		
		img {
			width: 100%;
			min-width: 0;
			max-width: none;
		}
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Page Headers
// - - - - - - - - - - - - - - - - - - - - -

.ypi .page-header {
	@extend %bg-light-2;
}

.ypi .page-header-title {
	max-width: size(site-width) * 0.75;
	margin: 0 auto;
	
	@include phone {
		text-align: center;
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Callout Box
// - - - - - - - - - - - - - - - - - - - - -

.ypi .callout {
	@extend %bg-light-2;
	@extend %padding-l;

	button {
		@extend .btn-callout;
		@extend %btn-def;
	}
}

.callout-lines {
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
	& > * {
		position: relative;
		display: inline-block;
		
		&::after {
			content: ' ';
			position: absolute;
			top: 50%;
			left: 100%;
			width: 50vw;
			height: 1px;
			border-top: size(line-s) solid color(secondary, 1);
		}
		
		&::before {
			content: ' ';
			position: absolute;
			top: 50%;
			right: 100%;
			width: 50vw;
			height: 1px;
			border-top: size(line-s) solid color(secondary, 1);
		}
	}
}


// - - - - - - - - - - - - - - - - - - - - -
// Callout form
// - - - - - - - - - - - - - - - - - - - - -

.ypi .form-callout {
	box-shadow: depth(s);
}

.section-header {
	margin-bottom: size(xl);
	text-align: center;
}

// - - - - - - - - - - - - - - - - - - - - -
// Inherent Color
// - - - - - - - - - - - - - - - - - - - - -

.type-color-white-1 {
	color : color(light, 1);
	
	* {
		color: inherit;
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - -

[class^='btn-callout'] {
	box-shadow: depth(m);
}
.ypi .btn-callout-alt-dark {
	padding-left: 0;
}

.ypi .btn-icon {
	display: inline-flex;
	align-content: center;
	justify-content: center;
	height: size(l);
	width: size(l);
	background: color(tertiary, 1);
	margin-right: baseline(1/2);
}

// - - - - - - - - - - - - - - - - - - - - -
// Buttons
// - - - - - - - - - - - - - - - - - - - - -

.ypi .short-form {
	text-align: center;
}

.ypi [class^='btn'] img{
	max-width: 60%;
	margin: 0 auto;
}

// - - - - - - - - - - - - - - - - - - - - -
// Footer
// - - - - - - - - - - - - - - - - - - - - -

.ypi .primary-footer {
	position: relative;
	z-index: 10;
}
.primary-footer-nav {
	background: color(dark,2);
}
.primary-footer-nav ul {
    text-align: center; 
 }

.primary-footer-nav li {
    display: inline-block;
    border: none;
 }
.primary-footer-nav li a {
	color: white;
	display: block;
	position: relative;
	padding: 0 size(m);
	line-height: size(l);
}

.primary-footer-nav li.is-active a {
	font-weight: bold;
}

.primary-footer-nav li.is-active a::before {
	content: ' ';
	position: absolute;
	bottom: 0;
	left: 0;
	height: size(xs);
	width: 100%;
	background: color('primary', 1);
}

// - - - - - - - - - - - - - - - - - - - - -
// Faq
// - - - - - - - - - - - - - - - - - - - - -

.ypi .sidebar {
	background: color(dark, 3);
	color: color(light,2);
	
	@include phone {
		width: 100%;
	}
}

.category-list {
	padding: baseline(1);
	margin-top: baseline(1);
	
	li {
		margin: size(s) 0;
		transition : transition(all);
		border-left: 0 solid transparent;
	}
	li.is-active {
		border-left: line(m) solid color(primary, 1);
		padding-left: size(s);
	}
}

.content-section {
	max-width: size(site-width) * 0.75;
	margin: 0 auto;
}
.faq-item {
	padding: size(l) 0;
	border-bottom: line(s) solid color(primary, 1);
	
	@include tablet-down {
		padding-left: baseline(1);
		padding-right: baseline(1);
	}
}

// - - - - - - - - - - - - - - - - - - - - -
// Forms
// - - - - - - - - - - - - - - - - - - - - -

.form-callout [class^='btn-callout']{
	@include phone {
		width: 100%;
	}
}

#cc-types {
	margin-top: baseline(2);
}

#cc-types input[type="radio"] + label .unselected {
	display: inline-block;
}

#cc-types input[type="radio"] + label .selected {
	display: none;
}


#cc-types input[type="radio"]:checked + label .unselected {
	display: none;
}

#cc-types input[type="radio"]:checked + label .selected {
	display: inline-block;
}

.btn-submit {
	margin: baseline(2) auto;
}