.hero-header {
	position: relative;
	overflow: hidden;
	
	.form-callout {
		position: relative;
		z-index: 2;
	}
}

.hero-header-copy {
	@include col(58.33%);
	padding: baseline(5) 0;
	margin: 0;
	
	@include tablet {
		padding: baseline(3);
	}
	
	@include phone {
		width: auto;
		padding: baseline(1) baseline(1) 0 baseline(1);
	}
}

.hero-header-title {
	@include type-style($fontSize : 5, $color : $color-primary-1, $lineHeight: 1);
}

.hero-header-caption {
	@include type-style($fontSize : 1);
	line-height: $font-ratio;
}

.hero-header-media {
	position: absolute;
	bottom: 0;
	width: 50%;
	left: 50%;
	z-index: 1;
	
	img {
		width: 100%;
		min-width: 850px;
		max-width: 950px;
		display: block;
	}
	
	@include phone {
		position: relative;
		width: 100%;
		left: auto;
		bottom: auto;
		z-index: -1;
		
		img {
			width: 100%;
			min-width: 0;
			max-width: none;
		}
	}
}