.text-media {
	width: 100%;
	display: flex;
	overflow: hidden;
}
.text-media-media {
	background-size: cover;
	background-position: center center;
	@include phone {
		order: -1;
	}
	
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}
.text-media-copy {
	display: flex;
	vertical-align: middle;
	justify-content: center;
	flex-direction: column;
	padding: baseline(1);
}

.text-media-title {
	margin: 0;
	font-weight: normal;
}

.text-media-btn {
	margin-top: baseline(1/2);
}